* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
}
h1 {
    text-align: center;
    margin-bottom: 1rem;
}
.thinLine {
    width: 70%;
    height: 2px;
    background-color: hsl(240, 40%, 20%);
    margin: 1rem auto;
}

nav {
    margin: 2rem 0rem 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
a {
    text-decoration: none;
    color: hsl(100, 0%, 80%);
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

header {
    background-color: hsl(240, 20%, 35%);
    padding: 20px 0;
    height: 100vh;
    position: fixed;
    left: 0;
    width: 20%;
}
.header {
    width: 30%;
}
.container {
    padding: 20px;
    position: relative;
}

.create {
    width: 80%;
    margin: 0 auto;
}
.delete {
    width: 80%;
    margin:  0 auto;
}
input, button {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
}
button {
    cursor: pointer;
    background-color: hsl(100, 40%, 55%);
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

.container-section {
    overflow: hidden;
}
.btn-container {
    display: flex;
    gap: 10px;
}

.manage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.riwayat {
    height: 90vh;
}
.riwayat h2 {
    text-align: center;
}
#historyContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}
.order-item {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fafafa;
    border-radius: 5px;
}
.order-item h3 {
    margin: 0;
    color: #333;
}
.order-item ul {
    margin: 5px 0;
    padding-left: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
}
.modal-content {
  background: #fff;
  margin: 10% auto;
  padding: 20px;
  width: 40%;
  border-radius: 5px;
  gap: 1rem;
  box-shadow: -10px 0px 0px hsl(240, 40%, 20%);
}
.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}
#orderTitle, #orderDate, #orderTotal, #orderItems {
    margin-bottom: 1rem;
}