.hero-animate {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    gap:300px;
}
.hero-animate-pic {
    background-image: url("../assets/decoy.png");
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    background-color: hsl(0, 0%, 80%);
    border-radius: 16px;
    margin: 0 auto;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.hp1 {
    animation-name: floathp1;
    transform: rotate(45deg);
}
@keyframes floathp1 {
    0% {
        transform: translateY(0px) rotate(-45deg);
    }
    20% {
        transform: translateY(-20px) rotate(-45deg);
        scale: 1.2;
    }
    40% {
        transform: translateX(-10px) rotate(-45deg);
    }
    60% {
        transform: translateY(20px) rotate(-45deg);
        scale: 1.2;
    }
    80% {
        transform: translateX(20px) rotate(-45deg);
    }
    100% {
        transform: translateX(0) rotate(-45deg);
        scale: 1.2;
    }
}
@keyframes floathp2 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes floathp3 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes floathp4 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.hero-animate-pic.hp2 {
    animation-name: float;
}
.hero-animate-pic.hp3 {
    animation-name: float;
}
.hero-animate-pic.hp4 {
    animation-name: float;
}

/* Login Form */
@keyframes pulse {
    0% {
        background: radial-gradient(hsl(240, 40%, 80%) 40%, hsl(240, 20%, 35%) 100%);
    }
    5% {
        background: radial-gradient(hsl(240, 40%, 80%)  41%, hslhsl(240, 20%, 35%) 100%);
    }
    10% {
        background: radial-gradient(hsl(240, 40%, 80%) 42%, hsl(240, 20%, 35%) 100%);
    }
    15% {
        background: radial-gradient(hsl(240, 40%, 80%)  43%, hslhsl(240, 20%, 35%) 100%);
    }
    20% {
        background: radial-gradient(hsl(240, 40%, 80%) 44%, hsl(240, 20%, 35%) 100%);
    }
    25% {
        background: radial-gradient(hsl(240, 40%, 80%)  45%, hslhsl(240, 20%, 35%) 100%);
    }
    30% {
        background: radial-gradient(hsl(240, 40%, 80%) 46%, hsl(240, 20%, 35%) 100%);
    }
    35% {
        background: radial-gradient(hsl(240, 40%, 80%)  47%, hslhsl(240, 20%, 35%) 100%);
    }
    40% {
        background: radial-gradient(hsl(240, 40%, 80%) 48%, hsl(240, 20%, 35%) 100%);
    }
    45% {
        background: radial-gradient(hsl(240, 40%, 80%)  49%, hslhsl(240, 20%, 35%) 100%);
    }
    50% {
        background: radial-gradient(hsl(240, 40%, 80%)  50%, hslhsl(240, 20%, 35%) 100%);
    }
    55% {
        background: radial-gradient(hsl(240, 40%, 80%) 49%, hsl(240, 20%, 35%) 100%);
    }
    60% {
        background: radial-gradient(hsl(240, 40%, 80%)  48%, hslhsl(240, 20%, 35%) 100%);
    }
    65% {
        background: radial-gradient(hsl(240, 40%, 80%) 47%, hsl(240, 20%, 35%) 100%);
    }
    70% {
        background: radial-gradient(hsl(240, 40%, 80%)  46%, hslhsl(240, 20%, 35%) 100%);
    }
    75% {
        background: radial-gradient(hsl(240, 40%, 80%) 45%, hsl(240, 20%, 35%) 100%);
    }
    80% {
        background: radial-gradient(hsl(240, 40%, 80%)  44%, hslhsl(240, 20%, 35%) 100%);
    }
    85% {
        background: radial-gradient(hsl(240, 40%, 80%) 43%, hsl(240, 20%, 35%) 100%);
    }
    90% {
        background: radial-gradient(hsl(240, 40%, 80%)  42%, hslhsl(240, 20%, 35%) 100%);
    }
    95% {
        background: radial-gradient(hsl(240, 40%, 80%) 41%, hsl(240, 20%, 35%) 100%);
    }
    100% {
        background: radial-gradient(hsl(240, 40%, 80%) 40%, hsl(240, 20%, 35%) 100%);
    }
}
.welcome-message {
    animation: pulse 6s infinite ease-in-out;
}